<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>随享中国社区团队</title>
	<meta name="description" content="团队由来自电商、金融、软件等行业多位前后端、全栈、搜索引擎优化工程师及产品经理私募组成，每位工程师都拥有各行业丰富的开发经验。团队成员开发的项目涉及电商平台、金融交易平台、客户关系管理系统（CRM）、大数据分析平台、接口开发（Api）、内容管理系统（CMS）、政企网站。">
	<meta name="keywords" content="网站建设,网站应用开发,网站定制开发,laravel网站开发,php网站开发,企业网站开发,商城网站开发,企业应用开发,随享中国社区" />
	<meta name="author" content="Codrops" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/flickity.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">您的浏览器版本太低了，请升级您的浏览器！</p>
	<![endif]-->
	<div class="container-fluid">
		<div class="row">
			<div class="header-nav-wrapper">
				<div class="logo">
					<a href="/index.html"><img src="https://n.tiayo.com/images/logo.png" alt="Synthetica Freebie"></a>
				</div>
				<div class="primary-nav-wrapper">
					<nav>
						<ul class="primary-nav">
							<li><a href="#intro">关于我们</a></li>
							<li><a href="#team">团队成员</a></li>
							<li><a href="#articles">团队资讯</a></li>
							<li><a href="#freebies">团队项目</a></li>
						</ul>
					</nav>
					<div class="secondary-nav-wrapper">
						<ul class="secondary-nav">
							<li class="subscribe"><a href="#get-started">联系我们</a></li>
							<li class="search"><a href="#" class="show-search"><i class="fa fa-battery-full"></i></a></li>
							<!--<li class="search"><a href="#search" class="show-search"><i class="fa fa-search"></i></a></li>-->
						</ul>
					</div>
					<div class="search-wrapper">
						<ul class="search">
							<li>
								<input type="text" id="search-input" placeholder="Start typing then hit enter to search">
							</li>
							<li>
								<a href="#" class="hide-search"><i class="fa fa-close"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="navicon">
					<a class="nav-toggle" href="#"><span></span></a>
				</div>
			</div>
		</div>
	</div>
	<header class="hero">
		<div class="carousel js-flickity">
			<div class="carousel-cell" style="background-image: url(img/hero-bg-01.jpg);">
				<div class="hero-bg">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<h1 class="wp1">全行业网站定制开发，拥有分布式部署、大数据处理、高并发处理等完整的行业解决方案。</h1>
								<a href="#intro" class="btn primary wp2">更多介绍</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 hero-intro-text wp3">
								<p>我们是由多个行业工程师组成的私募团队，融合各行业技术异同，旨在更完美的打造您的项目！</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-cell" style="background-image: url(img/hero-bg-02.jpg);">
				<div class="hero-bg">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<h1 class="wp1">共享式开发，更具竞争力的价格</h1>
								<a href="#intro" class="btn primary wp2">更多介绍</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 hero-intro-text wp3">
								<p>没有公司经营的成本，不需要考虑盈利。您只需要支付项目开发佣金，为您提供最划算、最具性价比的方案</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-cell" style="background-image: url(img/hero-bg-03.jpg);">
				<div class="hero-bg">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<h1 class="wp1">一个来自各行业的私募团队，专为有远见的你</h1>
								<a href="#intro" class="btn primary wp2">更多介绍</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 hero-intro-text wp3">
								<p>团队由来自电商、金融、软件等行业多位前后端、全栈、搜索引擎优化工程师及产品经理私募组成，每位工程师都拥有各行业丰富的开发经验。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='mouse-container'>
			<a href="#intro">
				<div class='mouse'>
					<span class='scroll-down'></span>
				</div>
			</a>
		</div>
	</header>
	<!-- SECTION: Intro -->
	<section class="collective has-padding" id="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4>团队介绍</h4>
				</div>
				<div class="col-md-9">
					<p>团队由来自电商、金融、软件等行业多位前后端、全栈、搜索引擎优化工程师及产品经理私募组成，每位工程师都拥有各行业丰富的开发经验。团队成员开发的项目涉及电商平台、金融交易平台、客户关系管理系统（CRM）、大数据分析平台、接口开发（Api）、内容管理系统（CMS）、政企网站。</p>
					<p>团队首选Debian/Ubuntu/Centos + Nginx + Laravel + Redis + Mysql/MongoDB等行业内流行、可靠的开发方案，根据您的项目需求进行量身定制</p>
					<p>无论您的项目大小，可能您暂时仅规划通过网页将您公司、产品等信息展示给潜在客户，我们仍然会安排多个工程师进行协同开发，并且遵守团队开发标准，为您项目发展、壮大保驾护航，您的项目可被您组建的团队轻松接纳并继续维护。</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END SECTION: Intro -->
	<!-- SECTION: Crew -->
	<section class="crew has-padding alternate-bg" id="team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>团队核心成员</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<article class="crew-member" style="background-image: url(img/crew-peter-finlan.jpg)">
						<figure>
							<figcaption class="overlay">
								<h2>Tiayo</h2>
								<p>从事网站开发行业多年，对项目全套解决方案有一定的研究，热爱使用新技术进行编程。</p>
								<!--<div class="crew-socials">-->
									<!--<ul>-->
										<!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
										<!--</li>-->
										<!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
										<!--</li>-->
									<!--</ul>-->
								<!--</div>-->
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<article class="crew-member" style="background-image: url(img/crew-blaz-robar.jpg)">
						<figure>
							<figcaption class="overlay">
								<h2>Adelaide</h2>
								<p>前端工程师，有丰富的页面搭建经验，擅长响应式网站模板、原生js、vue.js等</p>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<article class="crew-member" style="background-image: url(img/crew-mary-lou.jpg)">
						<figure>
							<figcaption class="overlay">
								<h2>Catherine</h2>
								<p>UI设计师，设计范畴包括app、网页、产品等，可为您项目量身定制</p>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<article class="crew-member" style="background-image: url('img/crew-dude.jpg')">
						<figure>
							<figcaption class="overlay">
								<h2>Harley</h2>
								<p>PHP工程师，多年开发经验，可独立完成各类型项目，口碑良好</p>
							</figcaption>
						</figure>
					</article>
				</div>
			</div>
		</div>
	</section>
	<div class="stats has-padding-tall">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 stats-container">
					<i class="icon icon-Cup"></i>
					<div class="stats-wrapper">
						<p class="stats-number" data-stop="16">16</p>
						<p class="stats-text">成交项目</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 stats-container">
					<i class="icon icon-Book"></i>
					<div class="stats-wrapper">
						<p class="stats-number" data-stop="20">20</p>
						<p class="stats-text">洽谈项目</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 stats-container">
					<i class="icon icon-Pen"></i>
					<div class="stats-wrapper">
						<p class="stats-number" data-stop="5">5</p>
						<p class="stats-text">团队成员</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END SECTION: Stats -->
	<!-- SECTION: Articles -->
	<section class="latest-articles has-padding alternate-bg" id="articles">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h4>团队资讯</h4>
				</div>
			</div>
			<div class="row">
                {{ article }}
				<!--<div class="col-md-4">-->
					<!--<article class="article-post">-->
						<!--<a href="#">-->
							<!--<div class="article-image has-overlay" style="background-image: url(img/article-01.jpg)">-->
								<!--<span class="featured-tag">Featured</span>-->
							<!--</div>-->
							<!--<figure>-->
								<!--<figcaption>-->
									<!--<h2>8 solid tips when working with front-end developers</h2>-->
									<!--<p>A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus...</p>-->
								<!--</figcaption>-->
							<!--</figure>-->
						<!--</a>-->
						<!--<ul class="article-footer">-->
							<!--<li class="article-category">-->
								<!--<a href="#">Product</a>-->
							<!--</li>-->
							<!--<li class="article-comments">-->
								<!--<span><i class="fa fa-comments"></i> 51</span>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</article>-->
				<!--</div>-->

			</div>
			<!--<div class="row is-centered">-->
				<!--<a href="#intro" class="btn secondary view-more">View more</a>-->
			<!--</div>-->
		</div>
	</section>
	<!-- END SECTION: Articles -->
	<!-- SECTION: Freebies -->
	<section class="freebies has-padding" id="freebies">
		<div class="container freebies-intro">
			<div class="row">
				<div class="col-md-12">
					<h4>团队项目</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 content-left">
					<p>产品完美，是我们的追求！团队将以高标准来完成项目的每一个功能，负责任地进行测试。</p>
				</div>
				<div class="col-md-6 content-right">
					<p>客户满意，是我们的宗旨！团队将以负责任的态度完成客户每一个项目及售后服务。</p>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 no-padding">
					<article class="item wp5">
						<figure class="has-overlay">
							<figcaption class="overlay">
								<div class="like-share-wrapper">
									<ul>
										<li>
											<div class="like-button-wrapper">
												<a href="#" class="like_button"><i class="like-counter fa fa-heart-o"></i></a>
												<span class="count">0</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="freebie-content">
									<span class="date">03/01/2016</span>
									<h2>企业、商业、应用型网站定制</h2>
									<div class="group">
										<a href="#get-started" class="btn secondary">联系我们</a>
									</div>
								</div>
							</figcaption>
							<img src="img/sedna-freebie.jpg" alt="Sedna Freebie">
						</figure>
					</article>
				</div>
				<div class="col-md-6 no-padding">
					<article class="item wp6">
						<figure class="has-overlay">
							<figcaption class="overlay">
								<div class="like-share-wrapper">
									<ul>
										<li>
											<div class="like-button-wrapper">
												<a href="#" class="like_button"><i class="like-counter fa fa-heart-o"></i></a>
												<span class="count">0</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="freebie-content">
									<span class="date">03/01/2016</span>
									<h2>电脑 + 手机网站、应用定制</h2>
									<div class="group">
										<a href="#get-started" class="btn secondary">联系我们</a>
									</div>
								</div>
							</figcaption>
							<img src="img/landio-freebie.jpg" alt="Land.io Freebie">
						</figure>
					</article>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 no-padding">
					<article class="item wp7">
						<figure class="has-overlay">
							<figcaption class="overlay">
								<div class="like-share-wrapper">
									<ul>
										<li>
											<div class="like-button-wrapper">
												<a href="#" class="like_button"><i class="like-counter fa fa-heart-o"></i></a>
												<span class="count">0</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="freebie-content">
									<span class="date">03/01/2016</span>
									<h2>手机、公众号应用开发</h2>
									<div class="group">
										<a href="#get-started" class="btn secondary">联系我们</a>
									</div>
								</div>
							</figcaption>
							<img src="img/freebie-03.jpg" alt="Synthetica Freebie">
						</figure>
					</article>
				</div>
				<div class="col-md-6 no-padding">
					<article class="item wp8">
						<figure class="has-overlay">
							<figcaption class="overlay">
								<div class="like-share-wrapper">
									<ul>
										<li>
											<div class="like-button-wrapper">
												<a href="#" class="like_button"><i class="like-counter fa fa-heart-o"></i></a>
												<span class="count">0</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="freebie-content">
									<span class="date">03/01/2016</span>
									<h2>开源项目（随享校园社区）</h2>
									<div class="group">
										<a href="https://n.tiayo.com" class="btn secondary">View</a>
									</div>
								</div>
							</figcaption>
							<img src="img/freebie-04.jpg" alt="Synthetica">
						</figure>
					</article>
				</div>
			</div>
		</div>
	</section>
	<!-- END SECTION: Freebies -->
	<!-- SECTION: Get started -->
	<section class="get-started has-padding text-center" id="get-started">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wp4">
					<h2>
						<em style="margin-right: 2em;" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=2046168252&site=qq&menu=yes')">QQ：2046168252</em>
						<em onclick="window.open('mailto://service@tiayo.com')">邮箱：service@tiayo.com</em>
					</h2>
					<a href="http://wpa.qq.com/msgrd?v=3&uin=2046168252&site=qq&menu=yes" target="_blank" class="btn secondary-white">与我们交流</a>
				</div>
			</div>
		</div>
	</section>
	<!-- END SECTION: Get started -->
	<!-- SECTION: Footer -->
	<footer class="has-padding footer-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-4 footer-branding">
					<img class="footer-branding-logo" src="https://n.tiayo.com/images/logo.png" alt="Synthetica freebie html5 css3 template logo">
					<p>一个来自各行业的私募团队，专为有远见的你</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 footer-nav">
					<ul class="footer-primary-nav">
						<li><a href="#intro">关于我们</a></li>
						<li><a href="#team">团队成员</a></li>
						<li><a href="#articles">团队资讯</a></li>
						<li><a href="#freebies">团队项目</a></li>
						<li><a href="#get-started">联系我们</a></li>
					</ul>
					<div class="share-dropdown">
						<ul>
							<li><a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<ul class="footer-secondary-nav">
						<li>
							<p>
								© 2011-2017 Tiayo.com 版权所有 ICP证：闽ICP备13016120号
								<script src="https://s22.cnzz.com/z_stat.php?id=1267008226&web_id=xiangreini1267008226" language="JavaScript"></script>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- END SECTION: Footer -->
	<!-- JS CDNs -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/video.min.js"></script>
	<!-- jQuery local fallback -->
	<script>
	window.jQuery || document.write('<script src="js/min/jquery-1.11.2.min.js"><\/script>')
	</script>
	<!-- JS Locals -->
	<script src="js/min/bootstrap.min.js"></script>
	<script src="js/min/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	<script src="js/min/retina.min.js"></script>
	<script src="js/min/jquery.waypoints.min.js"></script>
	<script src="js/min/flickity.pkgd.min.js"></script>
	<script src="js/min/scripts-min.js"></script>
</body>

</html>
